.work-card {
    padding: 20px;
    margin: 10px 0 0 0;
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.20);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.work-card .work-card-left {
    display: grid;
    gap: 5px;
}
.work-card .work-card-right {
    display: grid;
    gap: 5px;
}
.work-card .work-card-right .resp {
    font-size: 16px;
}
